<% /*
<h3> Current Drinkz on hand</h3>
<% for (var i=0; i< drinkData.length; i++ ) { %>
    <form method="POST" action="/deleteDrink/<%= drinkData[i]._id %>" style="display: inline-block">
        <%= drinkData[i].drink_name %> (<%= drinkData[i].size %>)
                <input type="submit" value="delete">
    </form>
    <br />
    <% } %>


        <h3> Current Drinkz on hand</h3>
        <% for (var i=0; i< drinkData.length; i++ ) { %>
            <form method="POST" action="/updateDrink/<%= drinkData[i]._id %>" style="display: inline-block">
                <%= drinkData[i].drink_name %> (<%= drinkData[i].size %>)
                        <input type="submit" value="update">
            </form>
            <br />
            <% } %>

*/ %> 